<h1 class="text-center text-sm md:text-xl lg:2xl pt-12 font-bold"><%= blog.title %></h1>
<article class="article text-center text-sm md:text-xl lg:2xl italic pt-2"><%= blog.description %></article>
<article class="article text-center text-xs md:text-xl lg:2xl pt-4"><%= blog.body %></article>